.mainCatName {
    padding: 40px 0px 32px;
    display: flex;
    justify-content: center;
}
.subCatSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
    gap: 10px;
}
.subCatImg {
    width: 340px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 3px 6px 0px rgba(0, 0, 0, 0.16);
}
.subCatSection img {
    object-fit: scale-down;
    width: 100%;
}
.subCatName {
    position: absolute;
    background: #fff;
    padding: 18px 20px;
    border-radius: 30px;
    box-shadow: 1px 3px 6px 0px rgba(0, 0, 0, 0.30);
}
.subCatName a {
    color: #F75200;
    font-weight: 700;
}
.subCatHeading {
    padding-bottom: 16px;
}
.midSection2 {
    flex-wrap: wrap;
    padding-bottom: 32px;
}
.midSubCat {
    flex-grow: 1 !important;
    padding: 0px 10px 0px;
}
.midSubCatPhotos {
    min-height: 170px;
    padding: 38px 30px;
    background: var(--cp-neutral-100, #F7F7F7);
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.10);
    border-radius: 10px;    
}
.midSubCatName {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0px
}