.Header-Mobile {
    position: relative;
}
.content-header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #050044;
    color: #fff;
}
.side-header {
    z-index: 9999;
    width: 297px;
    height: calc(100vh - 76px);
    background-color: #eee;
    position: absolute;
    transform: translateX(-100%);
    transition: all 0.3s ease;
    overflow-y: scroll;
}
.active-mobile-header {
    transform: translateX(0);
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px 9px rgba(0,0,0,0.2);
}
.mob-header-content-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mobile-header-logo {
    padding: 40px 80px 40px 80px;
}
.mob-header-content-2 {
    padding: 0px 40px 10px 40px;
}
.mob-header-content-2 > div {
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 18px;
    font-weight: 700;
    border-bottom: 1px solid #D8D8D8;
}
.way-shop-head, .partner-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.way-shop-head > img, .partner-head > img {
    transform: rotate(0deg);
    transition: all 0.3s ease;
}
.way-shop-head.open > img ,.partner-head.open > img {
    transform: rotate(180deg);
    transition: all 0.3s ease;    
}
.wayshop-inside-content, .partners-content {
    font-weight: 500;
    display: flex;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding: 0px 20px;
}
.wayshop-inside-content.open, .partners-content.open {
    max-height: 1000px;
}
.wayshop-inside-content > span:not(:last-child), .partners-content > span:not(:last-child) {
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #D8D8D8;
}
.wayshop-inside-content > span:last-child, .partners-content > span:last-child {
    padding-top: 10px;
}
.mob-header-content-3 {
    display: flex;
    flex-direction: column;
    padding: 0px 40px 10px 40px;
    font-size: 18px;
    font-weight: 500;
}
.mob-header-content-3 > span {
    padding-bottom: 20px;
}
.mob-header-content-4 {
    padding: 20px 40px 70px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (min-width: 1024px) {
    .Header-Mobile {
        display: none;
    }
}